<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>PRIME-T218</td><td>SatisfiInboxPageTest.Inbox_Page_SearchDropdown_Test()[pri:1, instance:com.qa.testcases.SatisfiInboxPageTest@7c7a06ec]<br/></td></tr>
</table>
