<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Satisfi Automation Test Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a9f6af">  <td>22/03/14 20:14:45</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SatisfiInboxPageTest.setUp(java.lang.String,java.lang.String)[pri:0, instance:com.qa.testcases.SatisfiInboxPageTest@7c7a06ec]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@131206411</td>   <td></td> </tr>
<tr bgcolor="a9f6af">  <td>22/03/14 20:15:38</td>   <td>52931</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SatisfiInboxPageTest.tearDown(org.testng.ITestResult)[pri:0, instance:com.qa.testcases.SatisfiInboxPageTest@7c7a06ec]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@131206411</td>   <td></td> </tr>
<tr bgcolor="a9f6af">  <td>22/03/14 20:15:19</td>   <td>33480</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SatisfiInboxPageTest.Inbox_Page_SearchDropdown_Test()[pri:1, instance:com.qa.testcases.SatisfiInboxPageTest@7c7a06ec]">Inbox_Page_SearchDropdown_Test</td> 
  <td>TestNG-tests-1@131206411</td>   <td></td> </tr>
</table>
