<h2>Reporter output</h2><table><tr><td>Login Page class - Before method execution</td></tr>
<tr><td>Login to Satisfi Labs app</td></tr>
<tr><td>Login using username as: automationsuperadminuser@satisfilabs.com and password as: 1Mindfire1!</td></tr>
<tr><td>Validating login is successfull by checking dashboard page title</td></tr>
<tr><td><b><font color='Purple'> Login Verification successfully Completed.:</font><b></td></tr>
<tr><td>*****Selecting Company*****</td></tr>
<tr><td>Clicking on the Select Company Dropdown</td></tr>
<tr><td>Searching the Mindfire QA Test Server 959 Company:</td></tr>
<tr><td>Validated and Selected the Company and Clicking on Select Button</td></tr>
<tr><td><b><font color='Purple'> Company Select and User Navigated to Inbox Page.</font><b></td></tr>
<tr><td><b><font color='Purple'>Validated the </font><b> Inbox header in Inbox Screen.</td></tr>
<tr><td>Validating Search Dropdown is displaying by clicking</td></tr>
<tr><td>Take sceenshot in case of failue and close browser</td></tr>
</table>